@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    font-weight: 600;
    color: rgb(20, 20, 176);
}

.container{
    width: 80%;
    margin: auto;
}

.grid{
    display: grid;
    grid-gap: 1.5rem;
}

section{
    padding: 60px 0;
}

/* Header */
.header{
    background-image: url(./img/header.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    
}